<div class="jumbotron text-center wiki-banner">
  <div class="wiki-banner-content">
    <h1 class="public-wiki-title">Public Wikis</h1>
    <span>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      to create markdown wiki's with options to add collaborators.
    </span>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12">
    <h3 class="text-center create-wiki-title">
      <% if current_user %>
        <%= link_to new_wiki_path, class: "btn btn-primary btn-lg create-wiki-btn" do %>
          Create New Wiki <i class="glyphicon glyphicon-plus"></i>
        <% end %>
      <% end %>
    </h3>
  </div>
</div>

<% @wikis.each do |wiki| %>
  <div class="row">
      <div class="col-md-12">
        <h3>
          <%= link_to wiki.title, wiki, class: "wiki-title" %>
        </h3>
      </div>
    </div>
<% end %>
