<%= link_to "Create A New Wiki", new_wiki_path %>
<h1>Public Wikis</h1>
<% @wikis.each do |wiki| %>
  <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <% if current_user.admin? || current_user.premium? %>
            <%= link_to wiki.title, wiki %>
          <% else %>
            <%= link_to wiki.title, wiki unless wiki.private? %>
          <% end %>
        </h4>
      </div>
    </div>
<% end %>
