// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-wiki-title {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.create-wiki-btn {
  color: white !important;
}

.wiki-banner {
  border: 1px solid black;
  box-shadow: 1px 1px 2px 1px black;
  margin-top: 10px;
  background-image: url('system2.jpg');
  background-size: cover;
  opacity: 0.8;
}

.wiki-banner-content {
  color: black;
  background: white;
  opacity: 0.9;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0.5px 1px 1px 2px black;
}

.public-wiki-title {
  font-weight: bold;
  text-shadow: grey 0.5px 0.5px 0.1px;
}

.wiki-title {
  color: black;
  font-size: 22px;
  text-shadow: grey 0.5px 0.5px 0.1px;
}

.markdown-wiki {
  background: white;
}
